/* CSS code */
#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#loginForm label {
    margin-bottom: 10px;
    font-size: 16px;
}

#loginForm input[type="text"],
#loginForm input[type="password"],
#loginForm input[type="submit"] {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#loginForm input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
}